{% extends 'base.html' %}

{% block content %}



<div class="container mt-5">

  <a class = "float-right btn btn-danger" href="{% url 'logout' %}?next={% url 'login' %}">Logout</a>

  <h2 class="text-center font-weight-bold ml-5">Customer Created Tickets</h2>
  <h4 class="text-center font-weight-bold mr-2">(Logged in as <u class="text-success">Admin</u>)</h4>
  <p class="mt-5 font-italic">Click on the ticket subject to view a specific ticket</p>
  <p class="font-italic">Total Created Tickets : {{ticket_list|length}}</p>
  <p class="font-italic text-success">Current Open Tickets : {{open}}</p>
  <p class="font-italic text-danger">Closed Tickets : {{closed}}</p>
  
 <form method="get" class="float-right mb-3">


    {% for choice in form.filter_by.field.choices %}
    	<label class="radio-inline">
      		<input type="radio" name="filter_by" value="{{choice.0}}"
      			{% ifequal form.my_choice_field.data choice.0 %} 
         			checked
      			{% endifequal %}
      		>
      		{{choice.1}}
    	</label>
  		
	{% endfor %}

	<input type="submit"
           value="Apply Filter" class="btn btn-success ml-2" />

    
    
</form>


</div>           
  <table class="table table-hover mt-5 container">
    <thead>
      <tr>
        <th>#</th>
        <th>Created By</th>
        <th>Ticket Subject</th>
        <th>Ticket Status</th>
      </tr>
    </thead>

    <tbody>
    	{% for ticket in ticket_list %}
    		<tr>
    			<td>{{forloop.counter}}</td>
    			<td>{{ticket.customer.user.username}}</td>
    			<td>
    				<a href="tickets/{{ticket.pk}}">{{ticket.subject}}</a>
    			
    			</td>
    			<td>
    				{% if ticket.is_resolved %}
    					<p class="text-danger">Closed</p> 
    				{% else %}
    					<p class="text-success">Open</p>
    				{% endif %}
    			</td>
    		</tr>
			
		{% endfor %}
     
    </tbody>
  </table>
</div>


{% endblock %}
